.chat-main
  .main-header
    .main-header__left
      .main-header__left__group
        =@group.name
      .main-header__left__member
        Member:
        - @group.group_users.each do |group_user|
          = group_user.user.name

    .main-header__right
      = link_to  edit_group_path(@group) , class:"main-header__right--edit" do
        Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__input
        = f.text_field :content, class: 'form__input__message', placeholder: 'type a message'
        .form__input__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon--black')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-btn'

-# 解答  
  -# .form
  -#   = form_for [@group, @message] do |f|
  -#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
  -#     .form__mask
  -#       = f.label :image, class: 'form__mask__image' do
  -#         = icon('fas', 'image', class: 'icon--black')
  -#         = f.file_field :image, class: 'hidden'
  -#     = f.submit 'Send', class: 'form__submit'

-# ビューの実装時の記述
  -# .form
  -#   %form.form__new-message
  -#     .form__new-message__input
  -#       %input.form__new-message__input__text
  -#       %label.form__new-message__input__image
  -#         = icon('fa','image' ,class:'icon--black' )
  -#         %input.hidden{type: 'file'}
  -#     %input.submit-btn{type:"submit",value:"send"}